*.o
*.lo
*.a
.deps
Makefile
Makefile.in
config.h
config.h.in
*.pc
*~

*.*~
*.sw?
.libs
*.pyc
*.gcda
*.gcno

**/TAGS

#configure
aclocal.m4
autom4te.cache/
config.log
config.status
config.guess
config.sub
configure
compile
depcomp
install-sh
missing
stamp-h1
libtool
ltmain.sh
m4/*.m4

#tests
tests/testsuite.dir
tests/*/*_test

tests/atconfig
tests/atlocal
tests/package.m4
tests/testsuite
tests/testsuite.log

writtenconfig/

#binary
src/softsim/softsim

# Mac OS X
.DS_Store
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
